# Environment variables
.env
.env.*
!.env.example
supabase/functions/.env
supabase/functions/.env.local
supabase/functions/.env.*

# Supabase local data
supabase/.temp
.branches

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Node / Deno dependencies
node_modules/
vendor/

# IDE & System files
.idea/
*.iml
.metadata
.DS_Store
Thumbs.db
